<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0,viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title></title>
    <link rel="stylesheet" href="__PUBLIC__/pc/index.css">
    <link rel="stylesheet" href="__PUBLIC__/pc/topcss.css">
    <link rel="stylesheet" href="__PUBLIC__/pc/font.css">
    <link rel="stylesheet" href="__PUBLIC__/pc/text.css">
    <link rel="shortcut icon" href="https://p5.ssl.qhimg.com/t013ed96d9c4cf74064.png" type="image/x-icon">
    <link rel="shortcut icon" type="image/ico" href="https://video.eastday.com/assets/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/pc/config.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/pc/video.css">
    <link rel="stylesheet" href="__PUBLIC__/pc/newdetail.css">
</head>
<script type="text/javascript" src="__PUBLIC__/pc/jquery.min.js"></script>

<body>
<div style="width :800px; margin:0 auto; background:#888;">
    <div><img src="__PUBLIC__/pc/1.jpg" style="width :800px;"></div>
    <div><img src="__PUBLIC__/pc/2.jpg" style="width :800px;"></div>
    <footer style="text-align: center; padding-bottom: 20px;">
        <p>吉林科学技术出版社有限责任公司</p>
        <p>粤ICP备08116238号-7</p>
    </footer>
</div>
</body>
</html>