<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0,viewport-fit=cover">
    <meta name="referrer" content="never">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://qqvip.oss-cn-shanghai.aliyuncs.com/tencent/css/index.css">
    <link rel="stylesheet" href="https://qqvip.oss-cn-shanghai.aliyuncs.com/tencent/css/top.css">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
    <style type="text/css">
        .share-bar-btn1 span {
            float: left;
            display: block;
            width: 40px;
            height: 30px;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body id="activity-detail" class="zh_CN mm_appmsg appmsg_skin_default appmsg_style_default not_in_mm" rlt="1">
<div class="tabu">
    <div class="h_mainNavNew cDGray h_mainNav" id="f-header"><div class="login"></div></div>
</div>
<div class="main">
    <div id="artical_sth" class="clearfix">
        <span class="rich_media_meta rich_media_meta_nickname" id="profileBt"></span>
        <div class="share" style="z-index:1000;">
            <div class="share-bar-btn1">
                <span class="bds_tsina"></span>
                <span class="bds_qzone"></span>
                <span class="bds_twx"></span>
            </div>
        </div>
        <div class="box03" id="js_comment_box03" style="display: block;">

            <h5 class="cmt js_commentCount" id="js_commentCount_top">
            </h5>

        </div>

        <div class="line01"></div>

    </div>

</div>


<div id="js_article" class="rich_media preview_appmsg">
    <div class="rich_media_inner" id="app">
        <div id="page-content" class="rich_media_area_primary">
            <div class="rich_media_area_primary_inner">
                <div id="img-content">

                    <div class="rich_media_content " id="js_content"
                         style="border-left: 2px #ccc dotted;border-right: 2px #ccc dotted;border-bottom: 2px #ccc dotted; background: #FFFAFA; padding: 15px;">


                        <p style="box-sizing: transparent;margin-top: 16px;line-height: 2.0em;font-size: 20px;">
                            <strong>{{title}}</strong></p>

                        <hr style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="80%" color="#000000"
                            size="3">
                        <div style="box-sizing: transparent;margin-top: 16px;line-height: 2.0em;font-size: 20px;text-indent: 2em">
                            {{text}}
                            {{content}}
                        </div>


                        <p style="font-size: medium; white-space: normal; text-shadow: none;text-align:center; margin-top: 18px;line-height: 1.8em;font-size: 20px;">
                            <span style="color: rgb(252, 73, 116);">下一章：出大事了！</span></p>

                        <p style="font-size: medium; white-space: normal; text-shadow: none;margin-top: 18px;line-height: 1.8em;font-size: 20px;font-weight:bold;">
                            <span style="color: rgb(252, 73, 116);">以防后续精彩内容丢失，请您</span><span
                                style="color: rgb(64, 179, 230);">【手机微信扫一扫】</span><span
                                style="color: rgb(252, 73, 116);">关注后继续免费读全篇~高潮不断</span></p>

                        <p style="text-align: center; padding: 15px 0;">
                            <img src="https://qqvip.oss-cn-shanghai.aliyuncs.com/ldy/down_icon.png">
                        </p>

                        <p style="text-align: center;position: relative;width: 826px;">
                            <img src="https://qqvip.oss-cn-shanghai.aliyuncs.com/ldy/b1.jpg" style="width:100%; margin-top: -15px;">

                            <!--底部二维码-->
                            <img id="qr_code_bottom" style="position: absolute;width: 25%;left:37.5%;top:5%;" src="{{qr_code}}">
                        </p>

                        <div id="meta_content" class="rich_media_meta_list"
                             style=" width:100%; margin-bottom: 10px; margin-top: 30px;">
                            <span style="margin-right: 10px; float:left;"> <span class="nickname">阅读&nbsp;100000+</span> </span>
                            <span class="icon_praise_gray1"></span>
                            <span style="color: rgb(140, 140, 140); font-size: 14px;">58752</span>
                        </div>
                        <div>


                            <div class="title-text" style="margin-top: 25px;">
                                <span style="font-size: 18px;">精选留言</span>
                            </div>


                            <style>
                                .erweima_lin_2019219 {
                                    width: 100%;
                                    height: 298px;
                                    background-size: 100% auto;
                                }

                                .erweima_lin_2019219 img {
                                    width: 25%;
                                    height: auto;
                                    margin-left: 38.5%;
                                    margin-top: 1.5%
                                }
                            </style>

                            <style>
                                .linyd_pl {
                                    margin: 18px 0px 0 0px;
                                    overflow: hidden;
                                    padding-bottom: 15px;
                                    border-bottom: 1px #ccc dotted;
                                    font-size: 14px;
                                    line-height: 24px;
                                }

                                .linyd_pl_01 {
                                    width: 6%;
                                    float: left;
                                }

                                .linyd_pl_02 {
                                    width: 94%;
                                    float: left;
                                    margin-top: -6px;
                                }

                                .linyd_pl_03 {
                                    color: rgb(140, 140, 140);
                                    margin-left: 8px;
                                    font-size: 7px;
                                }

                                .linyd_pl_04 {
                                    width: 9%;
                                    height: 22px;
                                    float: right;
                                    line-height: 30px;
                                }

                                .linyd_pl_04 font {
                                    margin-left: 20px;
                                    font-size: 14px;
                                }

                                .linyd_pl_05 {
                                    padding: 3px 0px 8px 8px;
                                    color: #555;
                                    font-size: 16px;
                                }

                                .linyd_pl_06 {
                                    padding: 10px;
                                    color: rgb(140, 140, 140);
                                    font-size: 10px;
                                }
                            </style>
                            <div class="linyd_pl">
                                <div>
                                    <div class="linyd_pl_01">
                                        <img src="https://qqvip.oss-cn-shanghai.aliyuncs.com/tencent/img/007rkhccly1g47qag9xxyj305k05kaa2.jpg"
                                             style="width: 40px; height: 40px;">
                                    </div>
                                    <div class="linyd_pl_02">
                                        <span class="linyd_pl_03">赵天</span>
                                        <span class="linyd_pl_04"><font>36558</font></span>

                                        <div class="linyd_pl_05">
                                            关注公众号后，点击第一条欢迎语就可以继续免费阅读，很方便！
                                        </div>
                                        <span class="linyd_pl_06">9小时前</span>
                                    </div>
                                </div>
                            </div>
                            <div style="clear: both;"></div>
                            <div class="linyd_pl">
                                <div>
                                    <div class="linyd_pl_01">
                                        <img src="https://qqvip.oss-cn-shanghai.aliyuncs.com/tencent/img/007rkhccly1g47qagak3cj30dw0dw0t3.jpg"
                                             style="width: 40px; height: 40px;">
                                    </div>
                                    <div class="linyd_pl_02">
                                        <span class="linyd_pl_03">殇不起</span>
                                        <span class="linyd_pl_04"><font>20548</font></span>

                                        <div class="linyd_pl_05">
                                            真的太好看了，跌宕起伏，有意思！
                                        </div>
                                        <span class="linyd_pl_06">12小时前</span>
                                    </div>
                                </div>
                            </div>
                            <div style="clear: both;"></div>

                            <div class="linyd_pl">
                                <div>
                                    <div class="linyd_pl_01">
                                        <img src="https://qqvip.oss-cn-shanghai.aliyuncs.com/tencent/img/007rkhccly1g47qbyt3gpj3032032wee.jpg"
                                             style="width: 40px; height: 40px;">
                                    </div>
                                    <div class="linyd_pl_02">
                                        <span class="linyd_pl_03">我爱一条柴</span>
                                        <span class="linyd_pl_04"><font>19046</font></span>

                                        <div class="linyd_pl_05">
                                            推荐大家一定一定一定要看完，后面剧情超级超级好看
                                        </div>
                                        <span class="linyd_pl_06">12小时前</span>
                                    </div>
                                </div>
                            </div>
                            <div style="clear: both;"></div>
                            <div class="linyd_pl">
                                <div>
                                    <div class="linyd_pl_01">
                                        <img src="https://qqvip.oss-cn-shanghai.aliyuncs.com/tencent/img/007rkhccly1g47qag9l15j3032032744.jpg"
                                             style="width: 40px; height: 40px;">
                                    </div>
                                    <div class="linyd_pl_02">
                                        <span class="linyd_pl_03">马上有钱</span>
                                        <span class="linyd_pl_04"><font>18689</font></span>

                                        <div class="linyd_pl_05">
                                            关注公众号了，看起来很方便，下面有阅读记录，我已经看到1000多章了，越看越好看
                                        </div>
                                        <span class="linyd_pl_06">3小时前</span>
                                    </div>
                                </div>
                            </div>
                            <div style="clear: both;"></div>
                            <div class="linyd_pl">
                                <div>
                                    <div class="linyd_pl_01">
                                        <img src="https://qqvip.oss-cn-shanghai.aliyuncs.com/tencent/img/007rkhccly1g47qagbfd5j30320320sl.jpg"
                                             style="width: 40px; height: 40px;">
                                    </div>
                                    <div class="linyd_pl_02">
                                        <span class="linyd_pl_03"> 仰面注目夕阳</span>
                                        <span class="linyd_pl_04"><font>4300</font></span>

                                        <div class="linyd_pl_05">
                                            我看完了，同类型小说里面最精彩的一部，没有之一，极力推荐
                                        </div>
                                        <span class="linyd_pl_06">26分钟前</span>
                                    </div>
                                </div>
                            </div>
                            <div style="clear: both;"></div>
                            <div class="linyd_pl">
                                <div>
                                    <div class="linyd_pl_01">
                                        <img src="https://qqvip.oss-cn-shanghai.aliyuncs.com/tencent/img/007rkhccly1g47qag9mq2j302s02sdfo.jpg"
                                             style="width: 40px; height: 40px;">
                                    </div>
                                    <div class="linyd_pl_02">
                                        <span class="linyd_pl_03">乄囍</span>
                                        <span class="linyd_pl_04"><font>3788</font></span>

                                        <div class="linyd_pl_05">
                                            我之前都不怎么看小说的，完全被吸引住了
                                        </div>
                                        <span class="linyd_pl_06">22小时前</span>
                                    </div>
                                </div>
                            </div>

                            <div style="clear: both;"></div>
                            <div class="linyd_pl">
                                <div>
                                    <div class="linyd_pl_01">
                                        <img src="https://qqvip.oss-cn-shanghai.aliyuncs.com/tencent/img/007rkhccly1g47qag9lwtj30320323yc.jpg"
                                             style="width: 40px; height: 40px;">
                                    </div>
                                    <div class="linyd_pl_02">
                                        <span class="linyd_pl_03">孙不笑</span>
                                        <span class="linyd_pl_04"><font>2685</font></span>

                                        <div class="linyd_pl_05">
                                            非常有意思，剧情扣人心弦，比看电视剧好看多了
                                        </div>
                                        <span class="linyd_pl_06">13小时前</span>
                                    </div>
                                </div>
                            </div>
                            <div style="clear: both;"></div>
                            <div class="linyd_pl">
                                <div>
                                    <div class="linyd_pl_01">
                                        <img src="https://qqvip.oss-cn-shanghai.aliyuncs.com/tencent/img/007rkhccly1g47qagcdtsj3032032jrb.jpg"
                                             style="width: 40px; height: 40px;">
                                    </div>
                                    <div class="linyd_pl_02">
                                        <span class="linyd_pl_03">地有三江水</span>
                                        <span class="linyd_pl_04"><font>1536</font></span>

                                        <div class="linyd_pl_05">
                                            不错不错，先关注公众号，有空把整篇看完
                                        </div>
                                        <span class="linyd_pl_06">11小时前</span>
                                    </div>
                                </div>
                            </div>
                            <div style="clear: both;"></div>
                            <div class="linyd_pl">
                                <div>
                                    <div class="linyd_pl_01">
                                        <img src="https://qqvip.oss-cn-shanghai.aliyuncs.com/tencent/img/007rkhccly1g47qagda5yj3032032745.jpg"
                                             style="width: 40px; height: 40px;">
                                    </div>
                                    <div class="linyd_pl_02">
                                        <span class="linyd_pl_03">露易湿衫-</span>
                                        <span class="linyd_pl_04"><font>1169</font></span>

                                        <div class="linyd_pl_05">
                                            已关注，公众号里面还有很多其他小说都挺不错，估计接下来半年都有的看了~
                                        </div>
                                        <span class="linyd_pl_06">18小时前</span>
                                    </div>
                                </div>
                            </div>

                            <div style="clear: both;"></div>
                            <div class="linyd_pl">
                                <div>
                                    <div class="linyd_pl_01">
                                        <img src="https://qqvip.oss-cn-shanghai.aliyuncs.com/tencent/img/007rkhccly1g47qagd8arj3032032mx0.jpg"
                                             style="width: 40px; height: 40px;">
                                    </div>
                                    <div class="linyd_pl_02">
                                        <span class="linyd_pl_03">岁末圣诞树</span>
                                        <span class="linyd_pl_04"><font>775</font></span>

                                        <div class="linyd_pl_05">
                                            我一直认为看小说比看电视剧更精彩，这部确实不错
                                        </div>
                                        <span class="linyd_pl_06">19小时前</span>
                                    </div>
                                </div>
                            </div>
                            <div style="clear: both;"></div>
                            <div class="linyd_pl">
                                <div>
                                    <div class="linyd_pl_01">
                                        <img src="https://qqvip.oss-cn-shanghai.aliyuncs.com/tencent/img/007rkhccly1g47qbyt0wjj3032032q2s.jpg"
                                             style="width: 40px; height: 40px;">
                                    </div>
                                    <div class="linyd_pl_02">
                                        <span class="linyd_pl_03">莫非离别</span>
                                        <span class="linyd_pl_04"><font>461</font></span>

                                        <div class="linyd_pl_05">
                                            什么叫扮猪吃老虎，过瘾！
                                        </div>
                                        <span class="linyd_pl_06">35小时前</span>
                                    </div>
                                </div>
                            </div>
                            <div style="clear: both;"></div>


                            <br>

                            <p style="text-align: center;">
                                <span style="font-size: 10px; color: #ccc">{{bottom_name}}</span>
                            </p></div>
                    </div>
                    <div class="qr_code_pc_outer">
                        <div class="qr_code_pc_inner">
                            <div class="qr_code_pc">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div style="display: none">
    {{tj_url}}
</div>

</body>
</html>