<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>站巨者 - zhanjuzhe.cn</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/css.css">
<link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="main" class="container">
	<div class="row my-card justify-content-center">
		<div class="col-lg-4 photo-bg">
		</div>
		<div class="col-lg-8 card">
			<h1>站在巨人的肩膀上做事，事半功倍！</h1>
			<p>
				
			</p>
			<div class="d-none d-lg-block">
				<p>
					站巨者是站在巨人的肩膀上的人的缩称，是让大家站在巨人的肩膀上做事，吸取前人的失败经验，避免重复走错路！成功率更高！
				</p>
				<p>
				
			</p>
				<h3>站巨者 —— 做您成功路上的阶梯！</h3>
			</div>
			<p>
				
			</p>

			<p>
				希望当您回想一件事的时候，是不是总会想如果当初有人提醒我一下或者教我一下，我可能就不会失败！这就是站巨者诞生的意义！
			</p>
			
			<p>
				
			</p>
			<a href="#" class="btn btn-primary mt-2">敬请期待</a>
			<!-- <h4 class="mt-4">近期即将上线</h4> -->
			<ul class="social mt-1">
				<li><a href="#"><i class="fa fa-twitter " aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
			</ul>
		</div>
	</div>
	<div class="footer">
		<footer class="mt-3">
		<p>
			Copyright &copy; 2020 ZhanJuZhe.Cn All Rights Reserved. 站巨者 版权所有 <a href="http://www.miibeian.gov.cn/" target="_blank">豫ICP备20022785号-3</a><br>    
		</p>
		</footer>
	</div>
</div>
<script defer src="css/bootstrap.min.js"></script>
</body>
</html>