<html class=" ua-win" style="overflow-x: visible;"><!--<![endif]--><head>
    <base target="_self"><!--[if lte IE 6]> </base> <![endif]-->
    <meta http-equiv="Content-Type" content="text/html;charset=gb2312">
    <meta http-equiv="Content-Language" content="zh-CN">
    <meta http-equiv="X-UA-Compatible" content="IE=7, IE=9">
    <meta name="keywords" content="图片,八卦图片，娱乐连环画，一周热图美女,明星,性感,写真,图集,美图,照片,明星写真,高清写真,图片新闻,电影海报,电视剧照,音乐图片，戏剧图片。">
    <meta name="description" content="网易娱乐图片频道片栏目：一周图片热点及娱乐连环画带您走近明星生活、盘点娱乐热点事件。">

    <link type="text/css" rel="stylesheet" href="https://qqvip.oss-cn-shanghai.aliyuncs.com/hot/css/main.css" charset="gb2312" media="all">
    <link type="text/css" rel="stylesheet" href="https://qqvip.oss-cn-shanghai.aliyuncs.com/hot/css/update.css" charset="gb2312" media="all">
    <title>热门排行榜 - 网易头条</title>
  <style>
      .N-nav-bottom, .N-nav-bottom-copyright, .N-nav-bottom-main a, .N-nav-bottom-main a:visited, .N-nav-bottom-main a:hover { background: none; }
    </style>
</head>
<body style="overflow-x: visible;">
    <link rel="stylesheet" href="https://qqvip.oss-cn-shanghai.aliyuncs.com/hot/css/headcss-e017654fb2.css">
<!-- urs -->

<div class="ntes_nav_wrap ntes-nav-wrap-resize1024" id="js_N_NTES_wrap">
  <div class="ntes-nav" id="js_N_nav">
    <div class="ntes-nav-main clearfix">
            <div class="c-fl">
        <a class="ntes-nav-index-title ntes-nav-entry-wide c-fl" href="#" style="padding-left:40px;" title="网易首页">网易首页</a>
        <!-- 应用 -->
        <div class="js_N_navSelect ntes-nav-select ntes-nav-select-wide ntes-nav-app  c-fl">
          <a href="#" class="ntes-nav-select-title ntes-nav-entry-bgblack JS_NTES_LOG_FE">应用
            <em class="ntes-nav-select-arr"></em>
          </a>
        </div>
      </div>
      <div class="c-fr">
        <!-- 片段开始 -->
        <div class="ntes-nav-quick-navigation"  style="padding-right:40px;">
          <a href="javascript:void(0);" class="ntes-nav-quick-navigation-btn ntes-nav-quick-navigation-init" id="js_N_ntes_nav_quick_navigation_btn" target="_self" >
            <em>快速导航
              <span class="menu1"></span>
              <span class="menu2"></span>
              <span class="menu3"></span>
            </em>
          </a>
      
        </div>
        <div class="c-fr">
          <div class="c-fl" id="js_N_navLoginBefore">
            <div id="js_N_navHighlight" class="js_loginframe ntes-nav-login ntes-nav-login-normal">
              <a href="#" class="ntes-nav-login-title" id="js_N_nav_login_title">登录</a>
            </div>
            <div class="js_N_navSelect ntes-nav-select ntes-nav-select-wide  JS_NTES_LOG_FE c-fl">
              <a class="ntes-nav-select-title ntes-nav-select-title-register" href="#">注册免费邮箱
                <em class="ntes-nav-select-arr"></em>
              </a>
            
            </div>
          </div>
          <div class="c-fl" id="js_N_navLoginAfter" style="display:none">
            <div id="js_N_logined_warp" class="js_N_navSelect ntes-nav-select ntes-nav-logined JS_NTES_LOG_FE">
              <span class="ntes-nav-select-title ntes-nav-logined-userinfo">
                <span id="js_N_navUsername" class="ntes-nav-logined-username"></span>
                <em class="ntes-nav-select-arr"></em>
              </span>
              <div id="js_login_suggest_wrap" class="ntes-nav-select-pop">
                <ul id="js_logined_suggest" class="ntes-nav-select-list clearfix"></ul>
              </div>
            </div>

          </div>
        </div>
        <ul class="ntes-nav-inside">
          <li>
            <div class="js_N_navSelect ntes-nav-select c-fl">
              <a href="#" class="ntes-nav-mobile-title ntes-nav-entry-bgblack">
                <em class="ntes-nav-entry-mobile">移动端</em>
              </a>
            </div>
          </li>
          <li>
            <div class="js_N_navSelect ntes-nav-select c-fl">
              <a id="js_love_url" href="#" class="ntes-nav-select-title ntes-nav-select-title-huatian ntes-nav-entry-bgblack">
                <em class="ntes-nav-entry-huatian">网易公开课</em>
                <em class="ntes-nav-select-arr"></em>
                <span class="ntes-nav-msg">
                  <em class="ntes-nav-msg-num"></em>
                </span>
              </a>
            </div>
          </li>
          <li>
            <div class="js_N_navSelect ntes-nav-select c-fl">
              <a id="js_lofter_icon_url" href="#" class="ntes-nav-select-title ntes-nav-select-title-lofter ntes-nav-entry-bgblack">
                <em class="ntes-nav-entry-lofter">网易严选</em>
                <em class="ntes-nav-select-arr"></em>
                <span class="ntes-nav-msg" id="js_N_navLofterMsg">
                  <em class="ntes-nav-msg-num"></em>
                </span>
              </a>
            </div>
          </li>
          <li>
            <div class="js_N_navSelect ntes-nav-select c-fl">
              <a href="#" class="ntes-nav-select-title
        ntes-nav-select-title-money ntes-nav-entry-bgblack">
                <em class="ntes-nav-entry-money">支付</em>
                <em class="ntes-nav-select-arr"></em>
              </a>
            </div>
          </li>
          <li>
            <div class="js_N_navSelect ntes-nav-select c-fl">
              <a href="#" class="ntes-nav-select-title
        ntes-nav-select-title-cart ntes-nav-entry-bgblack">
                <em class="ntes-nav-entry-cart">电商</em>
                <em class="ntes-nav-select-arr"></em>
              </a>
            </div>
          </li>
          <li>
            <div class="js_N_navSelect ntes-nav-select c-fl">
              <a id="js_mail_url" class="ntes-nav-select-title
        ntes-nav-select-title-mail ntes-nav-entry-bgblack">
                <em class="ntes-nav-entry-mail">邮箱</em>
                <em class="ntes-nav-select-arr"></em>
                <span class="ntes-nav-msg" id="js_N_navMailMsg">
                  <em class="ntes-nav-msg-num" id="js_N_navMailMsgNum"></em>
                </span>
              </a>
         
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

    <div class="bd" style="left: 0px; visibility: visible;">
        <div class="top">
            <h1>网易娱乐图片</h1>
            <div class="nav">
                <div class="nav-logo">
                    <a href="#" target="_blank">
                        <img src="https://qqvip.oss-cn-shanghai.aliyuncs.com/hot/img/logo_entphoto.png" width="192" height="28" alt="网易热门排行榜">
                    </a>
                </div>
                <div class="top-ad"></div>
                <ul class="nav-list">
                    <li><a href="#" hidefocus="true" class="nav-list-sy" data-pid="sy">首页</a></li>
                    <li><a href="#" hidefocus="true" class="nav-list-ss" data-pid="mx">明星</a></li>
                    <li><a href="#" hidefocus="true" class="nav-list-dj" data-pid="dj">前线</a></li>
                    <li><a href="#" hidefocus="true" class="nav-list-kk" data-pid="dy">电影</a></li>
                    <li><a href="#" hidefocus="true" class="nav-list-jx" data-pid="jx">一周精选</a></li>
                    <li><a href="#" hidefocus="true" class="nav-list-ch" data-pid="gj">连环画</a></li>
                    <li><a href="#" hidefocus="true" class="nav-list-gn" data-pid="ds">电视</a></li>
                    <li style="display:none;"><a href="#" hidefocus="true" class="nav-list-gj" data-pid="yy">音乐</a></li>
                    <li><a href="#" hidefocus="true" class="nav-list-sh" data-pid="xj">综艺</a></li>
                    <li><a href="#" hidefocus="true" class="nav-list-ph current" data-pid="ph">排行</a></li>
                </ul>
       
            </div>
                    </div>
        <div class="middle">
            <div class="middle-in">
                <div class="">
         
                    <div class="cont-wrap">
                        <div class="cont-scroller" style="width: 11420px; transform: translate3d(-10090px, 0px, 0px) scale(1);">
                            <div class="page page-sy" data-pid="sy" style="width: 1142px; display: block;"></div>
                            <div class="page page-mx" data-pid="mx" style="width: 1142px; display: block;"><span style="color:#FFF;"></span></div>
                            <div class="page page-dj" data-pid="dj" style="width: 1142px; display: block;"><span style="color:#FFF;"></span></div>
                            <div class="page page-dy" data-pid="dy" style="width: 1142px; display: block;"><span style="color:#FFF;"></span></div>
                            <div class="page page-jx" data-pid="jx" style="width: 1142px; display: block;"><span style="color:#FFF;display:none;"></span></div>
                            <div class="page page-gj" data-pid="gj" style="width: 1142px; display: block;"><span style="color:#FFF;display:none;"></span></div>
                            <div class="page page-ds" data-pid="ds" style="width: 1142px; display: block;"><span style="color:#FFF;"></span></div>
                            <div class="page page-yy" data-pid="yy" style="width: 1142px; display: block;"><span style="color:#FFF;display:none;"></span></div>
                            <div class="page page-xj" data-pid="xj" style="width: 1142px; display: block;"><span style="color:#FFF;"></span></div>

                            <div class="page page-ph" data-pid="ph" style="width: 1142px; display: block;">     
							<div class="ph-wrap">         
							<div class="ph-body">             
							
							
							<div class="ph-main cf">
							<div class="ph-list-wrap ph-day">
							<h2>24小时<i title="浏览数"></i></h2>                     
							<ol class="ph-list">                                                  
							<li>                             
							<a href="02.html" target="_blank" class="list-0">
							<i>1</i>                                 
							<div class="simg">                                     
							<q class="rank-num-1"></q>                                     
							<img src="https://qqvip.oss-cn-shanghai.aliyuncs.com/list/img/02.jpg" onload="fitImg(this);" style="width: 100%; height: auto; margin-left: 0%; margin-top: -3%;">      
							</div>                                 
							<span>主任宣布病人死亡，毕业实习生几针竟救活了，主任瞬间惊呆了！</span>                                 
							<b>34974</b>                             
							</a>                         
							</li>
							
							<li>                             
							<a href="06.html" target="_blank" class="list-1">                                 
							<i>2</i>                                 
							<div class="simg">                                     
							<q class="rank-num-2"></q>                                     
							<img src="https://qqvip.oss-cn-shanghai.aliyuncs.com/list/img/06.jpg" onload="fitImg(this);" style="width: 100%; height: auto; margin-left: 0%; margin-top: -3%;">      
							</div>                                 
							<span>人死后为什么要停尸3天？专家说其实这并不是迷信，原因是……</span>                                 
							<b>29326</b>                             
							</a>                        
							</li>
							
							<li>                             
							<a href="08.html" target="_blank" class="list-2">                                 
							<i>3</i>                                 
							<div class="simg">                                     
							<q class="rank-num-3"></q>                                     
							<img src="https://qqvip.oss-cn-shanghai.aliyuncs.com/list/img/08.jpg" onload="fitImg(this);" style="width: 100%; height: auto; margin-left: 0%; margin-top: -3%;">      
							</div>                                 
							<span>我毛都还没长齐，你竟让我去当上门女婿？看到美女后他口水……</span>                                 
							<b>27917</b>                             
							</a>                         
							</li>       
							
							<li>                             
							<a href="10.html" target="_blank" class="list-3">                                 
							<i>4</i>                                 
							<div class="simg">                                     
							<q class="rank-num-4"></q>                                     
							<img src="https://qqvip.oss-cn-shanghai.aliyuncs.com/list/img/10.jpg" onload="fitImg(this);" style="width: 100%; height: auto; margin-left: 0%; margin-top: -3%;">      
							</div>                                 
							<span>村里有一百岁老人去世之前咬了孙子一口，3天后孙子竟.....</span>                                 
							<b>23673</b>                             
							</a>                         
							</li>                                                  
							
							<li>                             
							<a href="14.html" target="_blank" class="list-4">                                 
							<i>5</i>                                 
							<div class="simg">                                     
							<q class="rank-num-5"></q>                                     
							<img src="https://qqvip.oss-cn-shanghai.aliyuncs.com/list/img/14.jpg" onload="fitImg(this);" style="width: 100%; height: auto; margin-left: 0%; margin-top: -3%;">     
							</div>                                 
							<span>丈夫消失六年，妻子去销户口，相关部门：他档案是绝密，无法注销！</span>                                 
							<b>21376</b>                             
							</a>                         
							</li>  

							<li>                             
							<a href="15.html" target="_blank" class="list-5">                                 
							<i>6</i>                                 
							<div class="simg">                                     
							<q class="rank-num-6"></q>                                     
							<img src="https://qqvip.oss-cn-shanghai.aliyuncs.com/list/img/15.jpg" onload="fitImg(this);" style="width: 100%; height: auto; margin-left: 0%; margin-top: -3%;">     
							</div>                                 
							<span>娇妻嫌弃丈夫无能，婚后一直分床睡，老婆闺蜜却说他很厉害！</span>                                 
							<b>19161</b>                             
							</a>                         
							</li>                                                  
							
							<li>                             
							<a href="24.html" target="_blank" class="list-6">                                 
							<i>7</i>                                 
							<div class="simg">                                     
							<q class="rank-num-7"></q>                                     
							<img src="https://qqvip.oss-cn-shanghai.aliyuncs.com/list/img/24.jpg" onload="fitImg(this);" style="width: 100%; height: auto; margin-left: 0%; margin-top: -3%;">     
							</div>                                 
							<span>男女初次同居的时候，女人最害怕啥？听听她们怎么说！</span>                                 
							<b>18640</b>                             
							</a>                         
							</li>                                                  
							
							<li>                             
							<a href="12.html" target="_blank" class="list-7">                                 
							<i>8</i>                                 
							<div class="simg">                                     
							<q class="rank-num-8"></q>                                     
							<img src="https://qqvip.oss-cn-shanghai.aliyuncs.com/list/img/12.jpg" onload="fitImg(this);" style="width: 100%; height: auto; margin-left: 0%; margin-top: -3%;">      
							</div>                                 
							<span>多个男人和一个女人的手机照片流出，我看到最恶心的一面！</span>                                 
							<b>16398</b>                             
							</a>                         
							</li>   
							
							<li>                             
							<a href="11.html" target="_blank" class="list-8">                                 
							<i>9</i>                                 
							<div class="simg">                                     
							<q class="rank-num-9"></q>                                     
							<img src="https://qqvip.oss-cn-shanghai.aliyuncs.com/list/img/11.jpg" onload="fitImg(this);" style="width: 100%; height: auto; margin-left: 0%; margin-top: -3%;">     
							</div>                                 
							<span>少年心怀慈悲，救下一只小兽，多年后长大，少年因它浴火重生！</span>                                 
							<b>14260</b>                             
							</a>                         
							</li>  
							
							<li>                             
							<a href="03.html" target="_blank" class="list-9">                                 
							<i>10</i>                                 
							<div class="simg">                                     
							<q class="rank-num-10"></q>                                     
							<img src="https://qqvip.oss-cn-shanghai.aliyuncs.com/list/img/03.jpg" onload="fitImg(this);" style="width: 100%; height: auto; margin-left: 0%; margin-top: -3%;">     
							</div>                                 
							<span>美女总裁嫌弃未婚夫是窝囊废，没想到他是雇佣兵中的顶尖高手！</span>                                 
							<b>39</b>                             
							</a>                         
							</li>  

							</ol>                 
							</div> 
							

							<div class="ph-list-wrap ph-week">                     
							<h2>一周<i title="浏览数"></i></h2>                     
							<ol class="ph-list">                                                  
							
							<li>                             
							<a href="09.html" target="_blank" class="list-0">                                 
							<i>1</i>                                 
							<div class="simg">                                     
							<q class="rank-num-1"></q>                                     
							<img src="https://qqvip.oss-cn-shanghai.aliyuncs.com/list/img/09.gif" onload="fitImg(this);" style="width: 100%; height: 66px; margin-left: 0%; margin-top: -3%;">      
							</div>                                 
							<span>他出生时惊现祥瑞，活了1072岁，经历7个朝代，死后7天竟......</span>                                 
							<b>151411</b>                             
							</a>                         
							</li>                                                  
							
							<li>                             
							<a href="17.html" target="_blank" class="list-1">                                 
							<i>2</i>                                 
							<div class="simg">                                     
							<q class="rank-num-2"></q>                                     
							<img src="https://qqvip.oss-cn-shanghai.aliyuncs.com/list/img/17.jpg" onload="fitImg(this);" style="width: 100%; height: auto; margin-left: 0%; margin-top: -3%;">      
							</div>                                 
							<span>私人飞机上，空姐一般要做什么？富豪说出了其中的秘密！</span>                                 
							<b>148861</b>                             
							</a>                         
							</li>                                                  
							
							<li>                             
							<a href="20.html" target="_blank" class="list-2">                                 
							<i>3</i>                                 
							<div class="simg">                                     
							<q class="rank-num-3"></q>                                     
							<img src="https://qqvip.oss-cn-shanghai.aliyuncs.com/list/img/20.jpg" onload="fitImg(this);" style="width: 100%; height: auto; margin-left: 0%; margin-top: -3%;">      
							</div>                                 
							<span>一女孩嫁给黑人的新婚之夜离奇死亡，原因让人脸红......</span>                                 
							<b>136561</b>                             
							</a>                         
							</li>                                                  
							
							<li>                             
							<a href="04.html" target="_blank" class="list-3">                                 
							<i>4</i>                                 
							<div class="simg">                                     
							<q class="rank-num-4"></q>                                     
							<img src="https://qqvip.oss-cn-shanghai.aliyuncs.com/list/img/04.jpg" onload="fitImg(this);" style="width: 100%; height: auto; margin-left: 0%; margin-top: -3%;">      
							</div>                                 
							<span>世界第一黑帮老大逝世，追悼会出动20000特警维持秩序……</span>                                 
							<b>124709</b>                             
							</a>                         
							</li>                                                  
							
							<li>                             
							<a href="19.html" target="_blank" class="list-4">                                 
							<i>5</i>                                 
							<div class="simg">                                     
							<q class="rank-num-5"></q>                                     
							<img src="https://qqvip.oss-cn-shanghai.aliyuncs.com/list/img/19.jpg" onload="fitImg(this);" style="width: 100%; height: auto; margin-left: 0%; margin-top: -3%;">      
							</div>                                 
							<span>少年山洞遇两个不能动弹的绝色女子，少年没忍住……</span>                                 
							<b>120749</b>                             
							</a>                         
							</li>   
							
							<li>                             
							<a href="18.html" target="_blank" class="list-5">                                 
							<i>6</i>                                 
							<div class="simg">                                     
							<q class="rank-num-6"></q>                                     
							<img src="https://qqvip.oss-cn-shanghai.aliyuncs.com/list/img/18.jpg" onload="fitImg(this);" style="width: 100%; height: auto; margin-left: 0%; margin-top: -3%;">      
							</div>                                 
							<span>美女校花得知前男友原来是超级富二代，当众跪求复合……</span>                                 
							<b>120194</b>                             
							</a>                         
							</li>                                                  
							<li>                             
							<a href="23.html" target="_blank" class="list-6">                                 
							<i>7</i>                                 
							<div class="simg">                                     
							<q class="rank-num-7"></q>                                     
							<img src="https://qqvip.oss-cn-shanghai.aliyuncs.com/list/img/23.gif" onload="fitImg(this);" style="width: 100%; height: 66px; margin-left: 0%; margin-top: -3%;">      
							</div>                                 
							<span>岳母：今天不拿出30万休想娶走我女儿，新郎一怒之下改娶伴娘！</span>                                 
							<b>119199</b>                             
							</a>                         
							</li>  
							
							<li>                             
							<a href="07.html" target="_blank" class="list-7">                                 
							<i>8</i>                                 
							<div class="simg">                                     
							<q class="rank-num-8"></q>                                     
							<img src="https://qqvip.oss-cn-shanghai.aliyuncs.com/list/img/07.jpg" onload="fitImg(this);" style="width: 100%; height: auto; margin-left: 0%; margin-top: -3%;">      
							</div>                                 
							<span>23岁姑娘从不穿胸罩，去医院检查，脱掉上衣后医生惊呆了！</span>                                 
							<b>116243</b>                             
							</a>                         
							</li>     
							
							<li>                             
							<a href="16.html" target="_blank" class="list-8">                                 
							<i>9</i>                                 
							<div class="simg">                                     
							<q class="rank-num-9"></q>                                     
							<img src="https://qqvip.oss-cn-shanghai.aliyuncs.com/list/img/16.gif" onload="fitImg(this);" style="width: 100%; height: 66px; margin-left: 0%; margin-top: -3%;">      
							</div>                                 
							<span>女子夜里喝醉误将小偷当丈夫，早上醒来才发现不对，瞬间崩溃！</span>                                 
							<b>115948</b>                             
							</a>                         
							</li>                                                  
							
							<li>                             
							<a href="01.html" target="_blank" class="list-9">                                 
							<i>10</i>                                 
							<div class="simg">                                     
							<q class="rank-num-10"></q>                                     
							<img src="https://qqvip.oss-cn-shanghai.aliyuncs.com/list/img/01.gif" onload="fitImg(this);" style="width: 100%; height: 66px; margin-left: 0%; margin-top: -3%;">      
							</div>                                 
							<span>儿子去世，托梦给母亲说在水里难受，隔天母亲抽干池塘，瘫坐在地！</span>                                 
							<b>113599</b>                             
							</a>                         
							</li>                                              
							
							</ol>                 
							</div>             
							</div>         
							</div>     
							</div> 
							</div>
                        </div>
                    </div> 
                </div>
         
            </div>
      
        </div>
        <div class="N-nav-bottom">
    <div class="N-nav-bottom-main">
        <div class="ntes_foot_link">
            <span class="N-nav-bottom-copyright"> 1997-2020 网易公司版权所有</span>
            <a href="#">About NetEase</a> |
            <a href="#">公司简介</a> |
            <a href="#">联系方法</a> |
            <a href="#">招聘信息</a> |
            <a href="#">客户服务</a> |
            <a href="#">隐私政策</a> |
            <a href="#">广告服务</a> |
            <a href="#">不良信息举报 Complaint Center</a> |
            <a href="#">廉正举报</a>
        </div>
    </div>
</div>

    </div>



</body></html>